@model CmsShoppingCart.Model.CartViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (Model.CartItems.Any())
{
    <div>
        <h4>CartViewModel</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.GrandTotal)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.GrandTotal)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <h3 class="display-4 text-c">Your cart is empty</h3>
}


