@if (TempData["Success"] != null)
{
    <div class="alert alert-success notification">
        @TempData["Success"]
    </div>
}
else if (TempData["Error"] != null)
{
    <div class="alert alert-success notification">
        @TempData["Error"]
    </div>
}